.node {
    border: solid black;
    border-width: 1px 1px 1px 1px;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.node-start {
    background-color: teal;
}

.node-shortest-path {
    background-color: yellow;
}

.node-visited-first {
    background-color: orange;
}

.node-visited {
    background-color: purple;
    animation-name: fill-cell;
    animation-duration: 0.5s;
}

.node-finish {
    background-color: green;
}

.node-wall {
    background-color: darkgray;
}

.node-left {
    border-left-width: 2px;
}

.node-bot {
    border-bottom-width: 2px;
}

@keyframes fill-cell {
    from {
        background-color: orange;
    }
    to {
        background-color: purple;
    }
}
